<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Progress bar </h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-primary progress-bar-striped active" 
                        style="height:20px;"
                        [style.width]="getProgress()"
                        role="progressbar">
                    </div>
                </div>

                <div class="progress m-t-20">
                    <div class="progress-bar bg-info progress-bar-striped active" 
                        style="height:20px;"
                        [style.width]="getProgress2()"
                        role="progressbar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increaser 
                    (changeProgress)="progress = $event" 
                    [valor]="progress">
                </app-increaser>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increaser 
                    (changeProgress)="progress2 = $event" 
                    [valor]="progress2"
                    [btnClass]="'btn btn-info'">
                </app-increaser>
            </div>
        </div>
    </div>
</div>